@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Space Grotesk', sans-serif;
	background-image: url(./images/bg-main-desktop.png);

	background-repeat: no-repeat;
	max-width: 1440px;
	padding: 3rem;
	height: 100vh;
}

.container {
	height: 100%;
	display: flex;

	align-items: center;
	gap: 127px;
}

.credit-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	gap: 2rem;
}

.front-container {
	position: relative;
}

.logo,
.card-number-display,
.cardholder-display,
.expiry-month-display,
.expiry-year-display,
.slash {
	position: absolute;
	color: #fff;
}

.logo {
	top: 28px;
	left: 32px;
}

.card-number-display {
	width: 100%;
	bottom: 70px;
	font-size: 28px;
	display: block;
	margin-left: 34px;
	letter-spacing: 3.42222px;
}

.cardholder-display {
	bottom: 26.5px;
	left: 34px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 2px;
}

.expiry-month-display {
	font-size: 14px;
	bottom: 26.5px;
	right: 71.5px;
}

.slash {
	right: 63px;
	top: 202px;
}

.expiry-year-display {
	font-size: 14px;
	bottom: 26.5px;
	right: 43.5px;
}

.back-container {
	align-self: end;
}

.front {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	border-radius: 10px;
}

.back {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	border-radius: 10px;
}

.form {
	width: 381px;
	height: 352px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.name {
	grid-column: 1/3;
}

.card-number {
	grid-column: 1/3;
}

.expiration {
	grid-column: 1/2;
	grid-row: 3/4;
}

.cvc {
	grid-column: 2/3;
	grid-row: 3/4;
}

.btn {
	grid-column: 1/3;
	border-radius: 8px;
	border: none;
	background-color: #21092f;
	color: #fff;
	width: 100%;
	height: 53px;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.1px;
	margin-top: 22px;
}

label {
	color: #21092f;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 9px;
}

input {
	border: 1px solid #dfdee0;
	border-radius: 8px;
	width: 100%;
	padding: 11px;
	margin-top: 9px;
}

input::placeholder {
	font-size: 18px;
	color: #dfdee0;
}

.expiration input {
	max-width: 80px;
}

.back {
	align-self: end;
}

.thank-you {
	text-align: center;
	width: 381px;
}

.thank-you img {
	margin-bottom: 35px;
}

.thank-you h1 {
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 3.42222px;
	color: #21092f;
	margin-bottom: 1rem;
}

.thank-you p {
	font-size: 18px;
	color: #8f8694;
	margin-bottom: 48px;
}

/* ******** ACTIVE STATE *********** */

.name-error,
.card-error,
.cvc-error,
.exp-error {
	font-size: 10px;
	margin-top: 4px;
	color: hsl(0, 100%, 66%);
	display: none;
}

.hide {
	display: none;
}

/* @media only screen and (max-width: 1000px) {
	.container {
		gap: 75px;
	}
} */

@media only screen and (max-width: 1000px) {
	.expiration {
		grid-column: 1/4;
		grid-row: 3/4;
	}

	.expiration label {
		display: block;
	}

	label {
		padding: 0;
	}

	input {
		margin: 0;
	}

	.cvc {
		grid-column: 1/3;
		grid-row: 4/4;
		margin-top: -9px;
	}

	.slash {
		bottom: 50px;
		    top: 203px;
	}

	
}

@media only screen and (max-width: 840px) {
	body {
		background-size: contain;
	}

	.container {
		gap: 75px;
	}

	.front {
		width: 340px;
		height: 190px;
	}

	.back {
		width: 340px;
		height: 190px;
	}

	.card-number-display {
		font-size: 18px;
	}

	.slash {
		top: 148px;
	}
}

@media only screen and (max-width: 375px) {
	.hide-bg {
		background-image: none;
	}
	body {
		background-image: url(./images/bg-main-mobile.png);
		background-repeat: no-repeat;
		padding: 1rem;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
